@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root{
    --primary-color:rgb(37, 52, 121);
    --secondary-color:white;
    --third-color:rgb(7, 7, 7);
    --darker-color:rgb(14, 25, 63);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1{
    text-align: center;
}

h2{
    font-size: 29px;
    text-align: center;
}


/* global flexbox */

header,footer,.col-left,.col-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    min-height: 80vh;
    background-color: var(--third-color);
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 100px;
    
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--third-color);
    color: var(--secondary-color);
}

.tabline{
    width: 95%;
    min-height: 80px;
    background-color: var(--darker-color);
    border: solid var(--secondary-color) 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.col-left,.col-right{
    height: 100%;
}

.col-left{
    width: 25%;
}

.col-right{
    position: relative;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.col-left p, .col-right p{
    color:var(--secondary-color);
    width: 95%;
    height: 100%;
}

.col-left p{
    text-align: center;
}

footer{
    height: calc(100vh - 80vh - 100px);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


@media screen and (max-width : 370px)
{
    h1, h2{
        font-size: 20px;
    }
    .main p{
        font-size: 12px;
    }

    .col-left{
        width: 35%;
    }

    .col-right{
        width: 65%;
    }
}
